@import url("[@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Orbitron:wght@400..900&family=Oswald:wght@200..700&display=swap');]");
body {
    margin:0;
    padding: 0;
    background-color: #EEEEEE;
    font-family: "Oswald", sans-serif;
}
h1 {
    padding: 0;
    margin: 0;
    font-weight: 800;
}
p{
    padding: 0;
    margin: 0;
}
footer{
    background-image: url(./assets/footer/BackgroundImg.png);
}